.productDetailContainer {
    display: flex;
    align-self: center;   
    flex-direction: column; 
    width: 75%;
}

.Picture {
    width:  680px;
}

.divPicture {
    padding-right: 15px;
}

.divInfo {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buyBtn {
    width: 100%;
    box-sizing: border-box;
    background-color: #3483FA;
    padding: 10px;    
    color: white;
}

.containerBtn {
    box-sizing: border-box;
    padding-right: 32px;
    width: 100%;
}

.divAmount {
    font-size: 46px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.divCondition {
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 16px;
}

.divTitle {
    font-size: 24px;
    text-align: left;
}

.divDescription {
    font-size: 16px;
    text-align: left;    
}

.divDescTittle {
    font-size: 24px;
}

.itemInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
}

.descriptionContainer {    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 32px;
    margin-bottom: 200px;
}