.productsContainer {
    display: flex;
    align-self: center;   
    align-items: flex-start;
    flex-direction: column; 
    width: 100%;
    background-color: white;
    color: #333333;
}

.productsResults {
    display: flex;
    align-self: center;      
    justify-content: center;
    flex-direction: column;
    width: 75%;
}

