.centerColumn {
    display: flex;
    align-self: center;  
    align-items: center;    
    justify-content: center;
    flex-direction: row;
    width: 75%;
}

.App-logo {
    height: 30px;
    pointer-events: none;
    margin-right: 15px;
    display: flex;
    align-items: center;
    pointer-events: all;
}

.App-header {
    width: 100%;
    display: flex;
    background-color: #FFE600;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.App-magnifying {
    background-color: #EEEEEE;
    padding: 3px 15px 3px 15px;
    height: 46px;
    right: 1px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.Search-input {
    border-width: 0px;
    flex: 8;
    height: 30px;
    font-size: 18px;
    padding: 7px 60px 9px 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
