.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

*:focus {
  outline: none;
}

.App-body {
  flex: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EEEEEE;
}

.App-link {
  color: rgb(112, 76, 182);
}

.productsCategories {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 16px;
}